body
{
    background-image: url(2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}   
.box
{
    background: RED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.nav-item a:hover
{
    background-color: wheat;
    color: blue;
    text-shadow: 1px 10px 10px BLACK;
    border-radius: 5px;
}
.nav-item a , li
{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, cursive;
}
.navbar-brand
{
    font-weight: bold;
    text-shadow: 1px 10px 10px BLACK;
}
